<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Click-Through Splash Page</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href='/static/style.css' />
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="splash-container text-center">
          <form>
            <h1>Welcome to Our Network</h1>
            <p>Please read and accept our terms of use before accessing the network.</p>
            <a href={{url}} class="redirect-button">Click to Accept</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
